@tailwind base;
@tailwind components;
@tailwind utilities;

/* GARANTIMOS O FUNDO ESCURO E TEXTO CLARO GLOBALMENTE */
body {
    background-color: #1a1a1a; /* Fundo cinza muito escuro */
    color: #e2e8f0; /* Texto claro */
    min-height: 100vh;
}